html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background: lightblue;
}
.exemple{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 56px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}
.title{
  color: blue;
  font-size: 25px;
  font-family: Georgia;
  text-transform: uppercase;
}
.subtitle {
  font-size: 16px;
  text-transform: capitalize;
}
.button {
  background-color: #1255a2;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

@media screen and (max-width: 768px)
{
    .title{
      color: green;
    }
    .formulaire > div{
      display: flex;
      flex-direction: column;
    }
    .exemple{
      margin-top: 66px;
    }
    h5{
      padding: 1em;
    }
}
